<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:name=".HiltApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.splashScreenTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.screens.login.LoginActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <service
            android:name=".data.service.NotificationListener"
            android:exported="true"
            android:label="listener notifications"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <receiver
            android:name=".data.service.SMSReceiver"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.READ_SMS">
            <!-- adding intent filter as sms received -->
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
